In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
file_path = "Data-20241001/Carseats.csv" 
df_car = pd.read_csv(file_path)
df_car

,Unnamed: 0,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,1,138,73,11,276,120,Bad,42,17,Yes,Yes,Yes
1,2,111,48,16,260,83,Good,65,10,Yes,Yes,Yes
2,3,113,35,10,269,80,Medium,59,12,Yes,Yes,Yes
3,4,117,100,4,466,97,Medium,55,14,Yes,Yes,No
4,5,141,64,3,340,128,Bad,38,13,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,138,108,17,203,128,Good,33,14,Yes,Yes,Yes
396,397,139,23,3,37,120,Medium,55,11,No,Yes,No
397,398,162,26,12,368,159,Medium,40,18,Yes,Yes,No
398,399,100,79,7,284,95,Bad,50,12,Yes,Yes,No
399,400,134,37,0,27,120,Good,49,16,Yes,Yes,Yes

In [35]:

df_oz = pd.read_csv('Data-20241001/ozone_complet.txt', delimiter=';')
df_oz = df_oz.drop("maxO3v", axis=1)

In [36]:
def train_test_split(data, target):
    n = int(len(data)*0.8)
    train = data[:n]
    test = data[n:]

    X_train = train.drop(target, axis=1)
    Y_train = train[target].copy()
    X_test = test.drop(target,axis=1)
    Y_test = test[target].copy()
    return X_train, Y_train, X_test, Y_test

In [42]:
X_train, Y_train, X_test, Y_test = train_test_split(df_oz, "maxO3")
X_train.head()

,T6,T9,T12,T15,T18,Ne6,Ne9,Ne12,Ne15,Ne18,...,Vvit6,Vdir9,Vvit9,Vdir12,Vvit12,Vdir15,Vvit15,Vdir18,Vvit18,Vx
19950401,10.1,11.6,13.3,13.6,12.2,8.0,8.0,8.0,8.0,8.0,...,2.0,290.0,4.0,300.0,4.0,340.0,4.0,20.0,4.0,-3.4641
19950402,9.5,9.4,13.8,17.4,16.3,8.0,8.0,7.0,0.0,0.0,...,2.0,160.0,2.0,180.0,3.0,110.0,1.0,350.0,2.0,0.0000
19950403,3.6,8.0,16.8,21.5,20.2,4.0,5.0,2.0,2.0,3.0,...,2.0,20.0,2.0,340.0,1.0,170.0,2.0,170.0,3.0,-0.3420
19950404,9.5,10.5,11.4,12.2,11.4,8.0,7.0,7.0,7.0,8.0,...,3.0,10.0,4.0,350.0,3.0,350.0,3.0,350.0,4.0,-0.5209
19950405,9.8,10.8,13.8,14.3,13.3,8.0,7.0,8.0,8.0,7.0,...,2.0,340.0,2.0,280.0,1.0,320.0,3.0,350.0,4.0,-0.9848

In [41]:
Y_train.head()

19950401    47.6
19950402    56.2
19950403    61.8
19950404    50.8
19950405    59.8
Name: maxO3, dtype: float64